
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
  }
 
 /* .container {
    width: 90%;
    margin-inline: auto;
 } */

  .container_hero {
    width: 90%;
    margin-inline: auto;
    padding-top: 65px;
    
    
 }

 .container_box_form {
    width:90%;
    background-color: rgb(200, 228, 248);
    border: 0px solid rgb(213, 213, 211);
    border-radius: 10px;
    margin-inline: auto;

 }

 .head_form_input {

    background-color: rgb(148, 155, 155);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* container utk tulisan input baru */
.container_form_input {
    width:90%;
    /* background-color: rgb(200, 228, 248);
    border: 0px solid rgb(213, 213, 211);
    border-radius: 10px; */
    margin-inline:auto;
    
 }

.boxhero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) ,url(pengukuhan2022a.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 8px;
    margin-top: 25px;
    
   
}


.boxhero h1 {

    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000;;

    
}

  /* .boxhero a {
    color:white;
    text-decoration: none;
    background-color: rgb(49, 133, 34);
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    
  }  */

  .boxhero a:hover {

    /* background-color: rgba(249, 192, 34, 0.792); */
    background-color: rgba(54, 94, 181, 0.792);
  } 

  .navbar-brand {
    font-size: 20px;
    color: rgb(12, 12, 12);
    text-shadow: 2px 1px 0px #fefdfd;
    
    
  }

.offcanvas {
    margin-top: 63px;
    padding-right: 2rem;
    padding-left: 2rem;
    /* transition: transform .3s ease-in-out, visibility .3s ease-in-out; */
    
}

.navbar {

    background-color: #F4B146;
}

.boxtengah a {
    color:white;
    text-decoration: none;
    /* background-color: rgb(49, 133, 34); */
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.3s ease;
 }

.boxtengah a:hover {
      
    background-color: rgba(54, 94, 181, 0.792);
    }

.menu1 {
  background-color: rgb(49, 133, 34);
  transition: background-color 0.3s ease;
  
}

.menu1:hover {
  background-color: rgba(54, 94, 181, 0.792);
  
} 

.menu1 a {
  color:white;
  text-decoration: none;
  font-size:14px;
  }


.pembatascol {

     padding: 8px;
  }  
  
.form-group1 {
  display: flex;
  border: 0px solid red;
  justify-content: space-between;
  align-items: center;
}

.form-login-text {
  text-align: center;
  padding: 15px;
  
}

.iconlogin {

  font-size: 12px;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0b0b;
  color: white;
  /* padding: 2px; */
 }

  footer p span {
  font-weight: bold;
  font-size: 12px;
 }

 .detail a {
     color :rgb(36, 64, 209);
     text-decoration: none;
     
     font-size: 14px;

 }


  @media (max-width: 991.98px) {
        .offcanvas-collapse {
            position: fixed;
            top: 56px;
            /* Height of navbar */
            bottom: 0;
            right: 100%;
            width: 50%;
            padding-right: 1rem;
            padding-left: 1rem;
            overflow-y: auto;
            visibility: hidden;
            background-color: #343a40;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        }
        
        .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(100%);
        }

    }


      